@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

h1 {
    background-color: cornflowerblue;
    padding: 20px;
    text-align: center;
    font-size: 80px;
    color: white;
    font-family: 'Space Mono', monospace;
    margin-top: 30px;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
    font-weight: 800;
}

.wrapper2 {
    margin-top: 40px;
}

p {
    border: 13px black ridge;
    background-color: darkcyan;
    padding: 20px;
    height: 70px;
    font-family: 'Space Mono', monospace;
    font-size: 51px;
    margin-top: -20px;
}